.sticker__add-item{

  display: grid;
  align-items: center;
  justify-content: center;

  background-color: rgb(111, 111, 111);
  color: #bbb;
  font-size: 24px;

  box-sizing: border-box;

  height: 150px;
  width: 200px;

  margin: 10px;
  padding: 5px;

  border-radius: 4px;
  border-bottom-right-radius: 5px;

  transition: all 0.1s linear;



  &:hover{
    cursor: pointer;
    content: 'Add sticker';
    background-color: rgb(101, 101, 101);
    font-size: 50px;
  }

}
