.modal__button{
  color: #fff;
  background-color: rgb(2, 162, 152);
  padding: 10px 15px;
  border: none;
  border-radius: 0.4em;
  margin: 0px 5px;
  font-weight: bold;
  min-width: 70px;
}

.modal__button:hover {
  cursor: pointer;
  background-color: rgb(4, 124, 116);
}
